/* * {
    border: 2px solid black;
} */
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 5%, 90%);
    height: 100vh;
    align-items: center;
} 
#container {
    display: flex;
    flex-direction: column; 
    height: auto;
    width: auto;
    border: 3px solid #ffffff;
    padding: 5px 10px;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #ffffff;
    border-radius: 30px;
}
.display {
    display: flex;
    flex-basis: 40px;
    width: 230px;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 0 20px 0;
    border-radius: 15px;
    background-color: hsl(0, 0%, 95%); 
}
.display p {
    margin: 12px 8px;
    color: #000000;
    font-weight: 600;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    gap: 10px;
    padding: 10px 0px;
    align-items: center;
} 
.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 

button {
    width: 50px;
    height: 50px;
    border-radius: 75%;
    margin: none;
    border: none;
    background-color: hsl(0, 0%, 96%);
    color: #000000;
    font-weight: 600;
    font-size: 20px;   
}
#clear,
#backspace {
    color: red;
}
#equals-to {
    background-color: rgb(70, 154, 70);
    color: #ffffff;
    font-size: 25px;
}
.operator {
    font-size: 25px;
}

