/* * {
    border: 2px solid black;
} */
 body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 5%, 90%);
    height: 100vh;
    align-items: center;
    flex-direction: column;
} 
#container {
    display: flex;
    flex-direction: column; 
    height: auto;
    width: auto;
    border: 3px solid #ffffff;
    padding: 5px 10px;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 50px #ccc;
    margin-top: 50px;

}
.display {
    display: flex;
    flex-basis: 87px;
    width: 270px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0px 0 20px 0;
    border-radius: 15px;
    background-color: hsl(0, 0%, 95%); 
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
}
#show-calc{
    color: #000000d3;
    font-weight: 400;
    font-size: 16px;
}
#show-numbers{
     margin: 0;
    color: #000000;
    font-weight: 500;
    font-size: 18px;;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    gap: 10px;
    padding: 10px 0px;
    align-items: center;
} 
.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 

button {
    width: 60px;
    height: 60px;
    border-radius: 75%;
    margin: none;
    border: none;
    background-color: hsl(0, 0%, 96%);
    color: #000000;
    font-weight: 500;
    font-size: 20px;   
    box-shadow: 5px 5px 5px #ccc;
}
#clear,
#backspace {
    color: red;
}

#clear:hover,
#backspace:hover {
    color: white;
    background-color: red;
}
#equals-to {
    background-color: rgb(70, 154, 70);
    color: #ffffff;
    font-size: 25px;
    box-shadow: 3px 3px 5px rgb(70, 154, 70);
}
.operator {
    font-size: 25px;
}
footer p {
    text-align: center;
}
