/* * {
    border: 2px solid black;
} */
 body {
    display: flex;
    justify-content: center;
    align-items: center;
} 
#container {
    display: flex;
    flex-direction: column; 
    height: auto;
    width: 280px;
    border: 3px solid black;
    padding: 5px 10px;
    align-items: center;
}
.display {
    display: flex;
    flex-basis: 40px;
    width: 230px;
    border: 1px solid gray;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0 20px 0;
    border-radius: 10px;
}
.display p {
    margin: 12px 8px;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    gap: 10px;
    padding: 10px 0px;
    align-items: center;
} 
.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 

button {
    width: 50px;
    height: 50px;
    border-radius: 75%;
    margin: none;
    border: none;
    
}